.card {
  position: relative;
  background: #f9f9f9;
  border-radius: 30px;
  padding: 10px;
  transition: all 0.3s ease;
}

.heading {
  font-weight: 600;
  color: #757575;
  font-size: 14px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  margin-top: 10px;
}

.title sup {
  color: #12a5bd;
  font-size: 18px;
  font-weight: bold;
}

.icon {
  width: 48px;
  height: 48px;
  font-size: 20px;
  text-align: center;
  background: #75b9ff;
  background: #12a5bd;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  font-size: 20px;
}

.dashboard {
  padding: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.quick-action {
  margin-top: 30px;
}

.quick-action .card {
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quick-action .title {
  font-size: 14px;
  margin-bottom: 24px;
}
