.choose-payment-method {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  height: 320px;
}

.box {
  border: 1px solid #ababab;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  position: relative;
}

.box:hover,
.box.selected {
  background-color: #12a5bd;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: -8px;
  right: -8px;
  opacity: 0;
  color: #00b894;
  font-size: 28px;
  fill: white;
}

.box.selected .icon {
  opacity: 1;
}
